[
    (name: "MaxTexturesPerMaterial", value: UInt(8)),
    (name: "MaxTextures", value: USize(2048)),
    (name: "EmptyTextureId", value: UInt(65535)),
    (name: "FinalLightSentinel", value: UInt(4294967295)),
    (name: "MaxShadowCascades", value: USize(4)),
    (name: "CAMERA_FROXELS_WIDTH", value: USize(32)),
    (name: "CAMERA_FROXELS_HEIGHT", value: USize(18)),
    (name: "CAMERA_FROXELS_DEPTH", value: USize(24)),
    (name: "MAX_LIGHTS_PER_CLUSTER", value: USize(256)),
    (name: "AdaptiveLumHistogramSize", value: USize(256)),
    (name: "MaxTaskShaderInvocations", value: UInt(32)),
    (name: "MaxPrimitives", value: UInt(126)),
    (name: "MaxVertices", value: UInt(64)),
    (name: "SunShadowKernelSize", value: USize(32)),
    /// Must be a power of 2.
    (name: "HzbGenKernelSize", value: USize(8)),
    (name: "DiReduceBlockSize", value: UInt(128)),
    (name: "EnvPrefilterSampleCount", value: USize(32)),
    (name: "GuiSceneTextureId", value: UInt(4294967295))
]