[
    (name: "MaxTexturesPerMaterial", value: UInt(8)),
    (name: "MaxTextures", value: USize(2048)),
    (name: "EmptyTextureId", value: UInt(4294967295)),
    (name: "CAMERA_FROXELS_WIDTH", value: USize(32)),
    (name: "CAMERA_FROXELS_HEIGHT", value: USize(18)),
    (name: "CAMERA_FROXELS_DEPTH", value: USize(16)),
    (name: "MAX_LIGHTS_PER_CLUSTER", value: USize(128)),
]