[package]
name = "api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1"
raw-window-handle = "0.4.2"
bitflags = "1"
ordered-float = "3"
serde = { version = "1", features = ["derive"] }